.message {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.input:invalid[data-focused='true'] {
  border: 1px solid red;
}

.input:invalid[data-focused='true'] ~ span {
  display: block;
}
