.loader__wrapper {
  // height: calc(100vh - 60px);
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #607d8b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
